.service-card{
    font-family: 'Lato', sans-serif;
    max-width: 200px;
    max-height: 100px;
    overflow: auto;
    display: inline-block;
    margin: 10px;
}

.user-card{
    font-family: 'Lato', sans-serif;
    width: 100%;
    cursor: pointer;
}

.left-side{
    height: 100%;
    width: 40%;
    display: inline-block;
}

.dashboard-cardoverview-service{
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: auto;
    text-align: center;
}

.detail-view{
    position: fixed;
    background-color: beige;
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0;
    margin:0;
}

.service-card::-webkit-scrollbar { width: 0 !important }
