<h2>User list</h2>
<div class='left-side'>
  <mat-list class='container-userlist'>
      <mat-list-item *ngFor="let user of users" (click)="selectUser(user)" class="user-card"> {{user.lastname}} {{user.firstname}} - {{user.birthdate}} </mat-list-item>  
  </mat-list>

  <button mat-stroked-button color="primary" (click)="pageDwn()"><<</button>
  <button mat-stroked-button color="primary">{{this.pageInUse}}</button>
  <button mat-stroked-button color="primary" (click)="pageUp()">>></button>

  <mat-form-field class="select-filter">
    <mat-label>Select</mat-label>
    <mat-select [(value)]="selected">
      <mat-option *ngFor="let prop of filters" (click)="ChooseFilter(prop)" value="prop">{{prop}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<app-detail-user class="detail-view" [user]="selectedUser"></app-detail-user>
